@{
    ViewData["Title"] = "Token Expired";
}

<h2>Token expired</h2>
<p>Your token has expired. Please obtain a new one and try again!</p>

<div>
    <a asp-controller="Home" asp-action="Index">Back to Index</a>
</div>